## Welcome to your notebook.

#### Run this cell to connect to your GIS and get started:

In [1]:
from io import BytesIO
import requests
import pandas as pd
from arcgis.features import FeatureLayer
from arcgis.gis import GIS
from arcgis.mapping import WebMap

In [2]:
gis = GIS("home")

In [3]:
items = gis.content.search("Coronavirus_2019_nCoV_Cases owner:CSSE_GISandData", outside_org=True)
print(items)

[<Item title:"Coronavirus COVID-19 (2019-nCoV)" type:Dashboard owner:CSSE_GISandData>, <Item title:"Dashboard Coronavirus COVID-19 (Mobile)" type:Dashboard owner:CSSE_GISandData>]

In [4]:
items[0]

In [5]:
src_url = "https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1"
fl = FeatureLayer(url=src_url)

In [6]:
df_global = fl.query(where="1=1",
                     return_geometry=True,
                     as_df=True)

In [7]:
df_global.head()

,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,SHAPE
0,1,None,Afghanistan,2020-10-29 05:24:35,33.93911,67.709953,41145,34237,1529,5379,None,None,Afghanistan,"{""x"": 67.70995300000004, ""y"": 33.9391100000000..."
1,2,None,Albania,2020-10-29 05:24:35,41.15330,20.168300,20040,10893,493,8654,None,None,Albania,"{""x"": 20.168300000000045, ""y"": 41.153300000000..."
2,3,None,Algeria,2020-10-29 05:24:35,28.03390,1.659600,57026,39635,1941,15450,None,None,Algeria,"{""x"": 1.6596000000000686, ""y"": 28.033900000000..."
3,4,None,Andorra,2020-10-29 05:24:35,42.50630,1.521800,4517,3144,72,1301,None,None,Andorra,"{""x"": 1.5218000000000416, ""y"": 42.506300000000..."
4,5,None,Angola,2020-10-29 05:24:35,-11.20270,17.873900,10074,3693,275,6106,None,None,Angola,"{""x"": 17.87390000000005, ""y"": -11.202699999999..."

In [8]:
df_global[~pd.isnull(df_global['Province_State'])].groupby('Country_Region').sum()[['Confirmed', 'Recovered', 'Deaths']]

                Confirmed  Recovered  Deaths
Country_Region
Australia           27566      25234     907
Brazil            5468270    4947777  158456
Canada             228366     191723   10084
Chile              505530     482906   14032
China               91271      86049    4739
Colombia          1041936     941874   30753
Denmark               511        494       0
France              39353      25365     330
Germany            486972     336764   10281
India             8040203    7315989  120527
Italy              589766     275404   37905
Japan               98912      90118    1732
Mexico             906863     765128   90309
Netherlands        326308       5738    7265
Pakistan           331108     312638    6775
Peru               892497     816688   34257
Russia            1553028    1164915   26752
Spain             1136503     150376   35466
Sweden             117913          0    5927
US                8856689    3518140  227685
Ukraine            374023     155028    6938
United Kingdom     945378       2773   45765

In [9]:
fset_usa = fl.query(where="Country_Region='US'")
fset_usa_df = fl.query(where="Country_Region='US'", as_df = True)
fset_usa_df.head()

,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,SHAPE
0,688,Mississippi,US,2020-10-29 05:24:35,32.741646,-89.678696,117617,0,3302,114315,None,28,"Mississippi, US","{""x"": -89.67869599999995, ""y"": 32.741646000000..."
1,689,Grand Princess,US,2020-08-04 02:27:56,37.648940,-122.665479,103,0,3,100,None,None,"Grand Princess, US","{""x"": -122.66547899999995, ""y"": 37.64894000000..."
2,690,Oklahoma,US,2020-10-29 05:24:35,35.565342,-96.928917,119152,0,1286,117866,None,40,"Oklahoma, US","{""x"": -96.92891699999996, ""y"": 35.565342000000..."
3,691,Delaware,US,2020-10-29 05:24:35,39.318523,-75.507141,24392,0,688,23704,None,10,"Delaware, US","{""x"": -75.50714099999993, ""y"": 39.318523000000..."
4,692,Minnesota,US,2020-10-29 05:24:35,45.694454,-93.900192,139444,0,2440,137004,None,27,"Minnesota, US","{""x"": -93.90019199999995, ""y"": 45.694454000000..."

In [12]:
src_url = 'https://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_States_Generalized/FeatureServer/0'
fl_usa = FeatureLayer(url=src_url)
us_states_df = fl_usa.query(where="1=1",
                     return_geometry=True,
                     as_df=True)
us_states_df.head()

,FID,STATE_NAME,STATE_FIPS,SUB_REGION,STATE_ABBR,POPULATION,POP_SQMI,POP2010,POP10_SQMI,WHITE,...,RENTER_OCC,NO_FARMS12,AVE_SIZE12,CROP_ACR12,AVE_SALE12,SQMI,Shape__Area,Shape__Length,GlobalID,SHAPE
0,1,Alaska,02,Pacific,AK,744733,1.3,710231,1.2,473576,...,95293,762,1094,84114,77329,581369.17,8.101401e+12,5.924954e+07,caa768f1-67c4-4e4e-be1f-585897d5d651,"{""rings"": [[[-17959594.8053098, 8122953.575198..."
1,2,California,06,Pacific,CA,39611295,250.5,37253956,235.6,21453934,...,5542127,77857,328,9591783,547510,158144.83,6.479799e+11,5.237952e+06,1b72b84f-ab21-4f2c-abf1-d6029e20e2b9,"{""rings"": [[[-13543710.3257494, 4603367.827345..."
2,3,Hawaii,15,Pacific,HI,1461211,227.3,1360301,211.6,336599,...,192656,7000,161,174042,94478,6429.38,1.888067e+10,1.370185e+06,63de8c01-6a03-4f45-8647-fb3b846a9906,"{""rings"": [[[-17819334.303422, 2512026.7784964..."
3,4,Idaho,16,Mountain,ID,1714694,20.5,1567582,18.8,1396487,...,174505,24816,474,5793347,314372,83570.14,4.235214e+11,3.858889e+06,b13b05e7-ac98-4da2-81d1-b1f302ab8dda,"{""rings"": [[[-13027307.5891034, 5415905.134774..."
4,5,Nevada,32,Mountain,NV,2994047,27.1,2700551,24.4,1786688,...,414770,4137,1429,756852,184710,110561.37,4.807101e+11,3.025639e+06,c442ca59-4d9c-4eee-8170-e1d436ff0cb4,"{""rings"": [[[-13263990.1054907, 4637763.931898..."

In [13]:
df_usa = fset_usa.sdf[['Province_State', 'Confirmed', 'Recovered', 'Deaths']]
df_usa = df_usa.assign(STATE_NAME = df_usa["Province_State"])
df_usa.head()

   Province_State  Confirmed  Recovered  Deaths      STATE_NAME
0     Mississippi     117617          0    3302     Mississippi
1  Grand Princess        103          0       3  Grand Princess
2        Oklahoma     119152          0    1286        Oklahoma
3        Delaware      24392          0     688        Delaware
4       Minnesota     139444          0    2440       Minnesota

In [14]:
cols_4 = ['STATE_NAME','SHAPE']
overlap_rows_usa = pd.merge(left = us_states_df[cols_4], right = df_usa, 
                            how='inner', on = 'STATE_NAME')
overlap_rows_usa.head()

,STATE_NAME,SHAPE,Province_State,Confirmed,Recovered,Deaths
0,Alaska,"{'rings': [[[-17959594.8053098, 8122953.575198...",Alaska,15155,0,71
1,California,"{'rings': [[[-13543710.3257494, 4603367.827345...",California,919276,0,17529
2,Hawaii,"{'rings': [[[-17819334.303422, 2512026.7784964...",Hawaii,14834,0,213
3,Idaho,"{'rings': [[[-13027307.5891034, 5415905.134774...",Idaho,61785,0,599
4,Nevada,"{'rings': [[[-13263990.1054907, 4637763.931898...",Nevada,97479,0,1762

In [15]:
map_usa = gis.map("US", zoomlevel=4)
map_usa

MapView(layout=Layout(height='400px', width='100%'))

In [18]:
map_usa.add_layer(fl, { "type": "FeatureLayer",
                     "renderer":"ClassedSizeRenderer",
                     "field_name":"Confirmed"})

In [ ]:
map_usa.legend = True

In [21]:
map_usa_poly = gis.map("US")
map_usa_poly.clear_graphics()
overlap_rows_usa.spatial.plot( kind='map', map_widget=map_usa_poly,
                               renderer_type='c',  # for class breaks renderer
                               class_count=4,  # choose the number of classes
                               method='esriClassifyEqualInterval',  # classification algorithm
                               col='Confirmed',  # numeric column to classify
                               cmap='inferno',  # color map to pick colors from for each class
                               alpha=0.7  # specify opacity
                              )

map_usa_poly

MapView(layout=Layout(height='400px', width='100%'))

In [22]:
map_usa_poly.zoom = 4
map_usa_poly.legend = True